<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<ul class="nav nav-tabs">
  <% if current_user %>
    <li ><%= link_to "Profile", user_path(current_user) %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  <% else %>   
    <li><%= link_to "Log In", login_path %></li>
    <li><%= link_to "Create Account", new_user_path %></li>
  <% end %>
</ul>

<div class="jumbotron">
  <div class="container-fluid">
    <h3>Welcome to Vagabond</h3>
    <p>Read posts from locals to learn the best attractions of any city.</p>
  </div>
</div>



