<<<<<<< HEAD
<h1>Welcome to Vagabond!</h1>
<p>Find me in app/views/pages/home.html.erb</p>
=======

<div class='conatainer'>



<h1 class ='lol'>Welcome to Vagabond</h1>
<p>This is a splash page</p>
</div>

<div class='bg_image'></div>
>>>>>>> 5f558e93383b429cadd17f138897d2f0d81ade59
