<div class="center" >
Create a New City:
</div>
<%= form_for @cities do |f| %>
  <div class="center">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="center" >
  <%= f.submit "Create city" %></div>
<% end %>