	<h1> <%= image_tag("#{@cities.background_image}", :class => "banner", :width => "100%") %> </h1>
	<h2><%= @cities.name %></h2>

	<%= button_to "Create New Post", new_post_path, method: :get %><br>

<div>


 <!-- <%= yield %> -->

</div>

