/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=require_self
 *=require new.scss
 *=require pages.scss
 *=require sessions.scss
 *=require users.scss
 *=require posts.scss 
 *=require show.scss
 
 */
body {
	font-family: Optima,;
background: rgba(242,246,248,1);
background: -moz-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(27,101,150,1) 74%, rgba(27,101,150,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(74%, rgba(27,101,150,1)), color-stop(100%, rgba(27,101,150,1)));
background: -webkit-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(27,101,150,1) 74%, rgba(27,101,150,1) 100%);
background: -o-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(27,101,150,1) 74%, rgba(27,101,150,1) 100%);
background: -ms-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(27,101,150,1) 74%, rgba(27,101,150,1) 100%);
background: linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(27,101,150,1) 74%, rgba(27,101,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#1b6596', GradientType=1 );

background-attachment: fixed;
}

h1  {
    color: navy;
     text-align: center;
    
}

#logo {
		height: 85px;
		width: 85px;
		float: right;
		padding-right: 10px;
		position: relative;
}
ul {
	color: navy;
	height: 50px;
	font-size: 20px;
}

#bar{
	color: navy;
}